/* You can add global styles to this file, and also import other style files */
@tailwind base;

html,body { height:100%; }

body {
    @apply bg-gray-800;
}

.vh-90 {
    height: 90vh;
}

.min-h-100 {
    min-height: 100px;
}
.max-h-200 {
    max-height: 200px;
}
.max-h-400 {
    max-height: 400px;
}
.max-h-300 {
    max-height: 300px;
}
.h-400 {
    height: 400px;
}
.h-200 {
    height: 200px;
}

@tailwind components;

@tailwind utilities;
