<div class="w-100 px-10 py-10 mx-auto flex text-white">
  <div id="row-1" class="w-3/12 mr-5">
    <app-topic-list [topics]="topics" (selected)="setSelectedTopic($event)"class=""></app-topic-list>
    <div class=" mt-5 h-32 bg-white text-black" id="adbox1">Ad Here</div>
  </div>
  <div id="row-2" class="w-9/12">
    <div class="flex">
      <div id="chart" class="mb-5 bg-grey-500 rounded w-10/12">
          <app-bubble-chart></app-bubble-chart>
      </div>
      <div class="w-2/12 pl-2 py-1">
        <p class="">{{selected_topic}}</p>
        <p class="pb-5 text-sm text-blue-500">Weather</p>
        <p class="">Wokli score (?)</p>
        <p class="pb-5 text-sm text-purple-400">50</p>
        <p class="">Sentiment</p>
        <p class="pb-1 text-sm text-red-400">Strongly Negative</p>
      </div> 
    </div>
    <div class="flex">
      <app-news-feed topic="{{selected_topic}}" class="w-10/12"></app-news-feed>
      <div class="ml-5 mt-5 h-32 bg-white text-black w-2/12" id="adbox2">Ad Here</div>
    </div>
  </div>
</div>
